{extend name="public/base" /}
{block name='title'}角色管理{/block}
{block name="body"}
<div class="main-div">
    <div class="list-div" id="listDiv">
    <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
        <tr>
            <th align="left">角色名称</th>
            <th>操作</th>
        </tr>
        {volist name="data" id="vo"}       
        <tr align="center" class="0">
            <td align="left" class="first-cell" >{$vo.role_name}</td>
            <td width="30%" align="center">
            <!-- gt获取id大于1的数据,给他们提供操作 -->
            {gt name="$vo.id" value="1"}
            <a href="{:url('disfetch','id='.$vo['id'])}">分配权限</a> |
            <a href="{:url('edit','id='.$vo['id'])}">编辑</a> |
            <a href="{:url('remove','id='.$vo['id'])}" title="移除" onclick="">移除</a>
            {/gt}
            </td>
        </tr>
        {/volist}
    </table>
    </div>
</div>
{/block}