<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>管理中心 - {block name='title'}商品列表 {/block}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="__ADMIN__Styles/general.css" rel="stylesheet" type="text/css" />
<link href="__ADMIN__Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
{block name='nav'}
<h1>
    <span class="action-span1"><a href="">管理中心</a></span>
    <!-- <span id="search_id" class="action-span1"> - {block name='nav'}商品列表{/block}</span> -->
    <span id="search_id" class="action-span1"> - 商品列表</span>

    <div style="clear:both"></div>
</h1>
{/block}
{block name='body'}
{/block}
</body>
</html>
<script type="text/javascript" src="__ADMIN__Js\jquery-1.8.3.min.js"></script>
{block name='js'}
{/block}
<!-- 空区块需要子模板去实现 -->