{extend name="public/base" /}
{block name="body"}
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th align="left">用户名</th>
                <th align="left">角色名称</th>
                <th>操作</th>
            </tr>
            {volist name="data" id="vo"}       
            <tr align="center" class="0">
                <td align="left">{$vo.username}</td>
                <td align="left" >{$vo.role_name}</td>
                
                <td width="30%" align="center">
                <!-- admin管理员不能进行各项操作 -->
                {gt name="$vo.id" value="1"}
                <a href="{:url('edit','id='.$vo['id'])}">编辑</a> |
                <a href="{:url('remove','id='.$vo['id'])}" title="移除" onclick="">移除</a>
                </td>
                {/gt}
            </tr>
            {/volist}
        </table>
    </div>
</form>
{/block}
